@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MuiButton-root {
  color: #6a1b9a !important;
  transition: all;
}

.MuiButton-root:hover {
  background-color: #ce93d8;
  transition-duration: 0.5s;
}

.MuiButton-root.Mui-disabled {
  color: #736c6ca4 !important;
  cursor: not-allowed;
}

.MuiCard-root {
  transition: all 0.5s ease !important;
}

.MuiCard-root:hover {
  transform: scale(1.1);
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

#dataGrid {
  background-color: #ce93d8;
  border-radius: 80%;
  border: #501078 double 10px;
  box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.37);
  /*  */
  font-family: "Pacifico", cursive;
  font-weight: 500;
  font-style: normal;
  text-shadow: #7f28b4 5px 2px 10px;
  /*  */
  /* width: 200px; */
  /* height: 200px; */
  position: relative;
}
#dataGrid img {
  position: absolute;
  top: -10px;
  left: 0;
}

#dataGrid:hover {
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

#necklace {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 1;
}
